@model TruckSmartWeb.Models.Shipment

@{
    ViewBag.Title = "DisplayShipment";
}

<h2>DisplayShipment</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Shipper Name</dt>
        <dd>@Html.DisplayFor(model => model.From.Name)</dd>
        <dt>Shipper Address</dt>
        <dd>@Html.DisplayFor(model => model.From.Address)</dd>
        <dt>Shipper Geo-Location (Latitude/Longitude)</dt>
        <dd>@Html.DisplayFor(model => model.From.Latitude) | @Html.DisplayFor(model => model.From.Longitude)</dd>
        <dt>Destination Name</dt>
        <dd>@Html.DisplayFor(model => model.To.Name)</dd>
        <dt>Destination Address</dt>
        <dd>@Html.DisplayFor(model => model.To.Address)</dd>
        <dt>Destination Geo-Location (Latitude/Longitude)</dt>
        <dd>@Html.DisplayFor(model => model.To.Latitude) | @Html.DisplayFor(model => model.To.Longitude)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scheduled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheduled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
    @if (Model.Scheduled > DateTime.Now.AddDays(3) && Model.Driver != null && Model.Driver.DriverID == WebApiApplication.CurrentUser) {
    <text> |</text>
        @Html.ActionLink("Release", "ReleaseShipment", new { id = Model.ShipmentID })
    }
    @if (Model.Scheduled > DateTime.Now && Model.Driver == null )
    {
        <text> |</text>
        @Html.ActionLink("Reserve", "ReserveShipment", new { id = Model.ShipmentID })
    }
</p>
