@model TruckSmartWeb.Models.Expense

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form enctype="multipart/form-data" method="post" action="/Expense/Create">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ExpenseSubmit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <!-- Add hidden field for Driver ID-->
        @Html.HiddenFor(model => model.DriverID)


        <div class="form-group">
            @Html.LabelFor(model => model.ShipmentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ShipmentID, new SelectList(ViewBag.Shipments, "ShipmentID", "Scheduled"))
                @*@Html.EditorFor(model => model.ShipmentID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShipmentID, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.ExpenseType, new { @class = "expenseTypes" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group" expenseType="Toll">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" expenseType="Lodging">
            @Html.LabelFor(model => model.Hotel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hotel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hotel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" expenseType="Lodging">
            @Html.LabelFor(model => model.Room, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Room, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Room, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" expenseType="Lodging" >
            @Html.LabelFor(model => model.DirectBill, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DirectBill)
                    @Html.ValidationMessageFor(model => model.DirectBill, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-02">
                <label for="receiptFile">Receipt File</label>
            </div>
            <div class="col-md-10">
                <input type="file" id="receiptFile" name="file">

            </div>
        </div>


        <div class="form-group" >
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"  />
            </div>
        </div>
    </div>
    
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".expenseTypes").on('change', function () {
                setVisible();
            });
            function setVisible() {
                var value = $(".expenseTypes option:selected").text();
                $("div[expenseType]").each(function (index, et) {
                    $(et).attr("style", $(et).attr("expenseType") == value ? "" : "display:none");
                });

            }
            setVisible();
        });
    </script>
    }
