@model IEnumerable<TruckSmartWeb.Models.ServiceProvider>

@{
    ViewBag.Title = "Index";
}

<h2>Service Providers</h2>

<a href="/" id="getProvider">Locate nearest provider</a>

 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>

        <td>
            @Html.ActionLink("Details", "GetProvider", new { latitude=item.Latitude, longitude=item.Longitude }) 
        </td>
    </tr>
}

</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //Here's where you would get the actual latitude and logitude, but we are totally faking it.
            //Bunus points for figuring out where this is
            var latitude = 47.639127;
            var longitude = -122.128630;
            var url = "/ServiceProvider/GetProvider?latitude=" + latitude + "&longitude=" + longitude;
            $("#getProvider").attr("href", url);
        });
    </script>
    }
